.vs/Parser/DesignTimeBuild/.dtbcache.v2
.vs/Parser/FileContentIndex/6e21ea58-9ae0-4b1b-99b3-10f0d3e70815.vsidx
.vs/Parser/FileContentIndex/01869348-471c-45e4-b50f-2041961a6882.vsidx
.vs/Parser/v17/.futdcache.v2
.vs/Parser/v17/.suo
.vs/Parser/v17/DocumentLayout.json
.vs/ProjectEvaluation/parser.metadata.v7.bin
.vs/ProjectEvaluation/parser.projects.v7.bin
bin/Debug/net8.0/CsvHelper.dll
bin/Debug/net8.0/Parser.deps.json
bin/Debug/net8.0/Parser.dll
bin/Debug/net8.0/Parser.exe
bin/Debug/net8.0/Parser.pdb
bin/Debug/net8.0/Parser.runtimeconfig.json
obj/Parser.csproj.nuget.dgspec.json
obj/Parser.csproj.nuget.g.props
obj/Parser.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/Parser.AssemblyInfo.cs
obj/Debug/net8.0/Parser.AssemblyInfoInputs.cache
obj/Debug/net8.0/Parser.assets.cache
obj/Debug/net8.0/Parser.csproj.AssemblyReference.cache
obj/Debug/net8.0/Parser.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/Parser.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/Parser.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Parser.csproj.Up2Date
obj/Debug/net8.0/Parser.dll
obj/Debug/net8.0/Parser.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Parser.genruntimeconfig.cache
obj/Debug/net8.0/Parser.GlobalUsings.g.cs
obj/Debug/net8.0/Parser.pdb
obj/Debug/net8.0/ref/Parser.dll
obj/Debug/net8.0/refint/Parser.dll
2019-Nov.csv
2019-Oct.csv
obj/Debug/net8.0/Parser.sourcelink.json
